@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  outline: none;
}

* ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

* ::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}

* ::-webkit-scrollbar-thumb {
  background: #007bff;
  border: 0px none #ffffff;
  border-radius: 22px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #128ffd;
}

* ::-webkit-scrollbar-thumb:active {
  background: #128ff1;
}

* ::-webkit-scrollbar-track {
  background: #dad4ff;
  border: 0px none #ffffff;
  border-radius: 6px;
}

* ::-webkit-scrollbar-track:hover {
  background: #cccbff;
}

* ::-webkit-scrollbar-track:active {
  background: #cccbff;
}

* ::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background-color: #F1F5F8;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  outline: none;
}

* ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

* ::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}

* ::-webkit-scrollbar-thumb {
  background: #007bff;
  border: 0px none #ffffff;
  border-radius: 22px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #128ffd;
}

* ::-webkit-scrollbar-thumb:active {
  background: #128ff1;
}

* ::-webkit-scrollbar-track {
  background: #dad4ff;
  border: 0px none #ffffff;
  border-radius: 6px;
}

* ::-webkit-scrollbar-track:hover {
  background: #cccbff;
}

* ::-webkit-scrollbar-track:active {
  background: #cccbff;
}

* ::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background-color: #F1F5F8;
}

.show-side-bar {
  color: royalblue;
  background-color: transparent;
  border: 10px;
}

.side-bar-close {
  padding: 10px;
  float: left;
  margin-bottom: 50px;
}

#main-UI .sidebar-pane {
  display: none;
  z-index: 1;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #FFFFFF;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  -webkit-animation: sideBarAnimationOpen 1s;
          animation: sideBarAnimationOpen 1s;
}

#main-UI .sidebar-pane::-webkit-scrollbar {
  display: none;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper {
  padding: 30px 0 20px 0;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo {
  margin-left: 10px;
  background-color: #F1F5F8;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 0 10px 0;
  color: royalblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-profile-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-profile-container img {
  width: 100%;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-name {
  width: 70%;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-name h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists {
  margin-left: 10px;
  margin-top: 50px;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid {
  color: royalblue;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .list-title {
  margin-bottom: 20px;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .active-link {
  background-color: #F1F5F8;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link {
  margin: 10px 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link a {
  padding: 20px 0 20px 20px;
  display: block;
  text-decoration: none;
  color: #252525;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link a i {
  color: royalblue;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link a span {
  padding-left: 10px;
}

@-webkit-keyframes sideBarAnimationOpening {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
  }
}

@keyframes sideBarAnimationOpening {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
  }
}

@-webkit-keyframes sideBarAnimationClosing {
  from {
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes sideBarAnimationClosing {
  from {
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#main-UI .main-pane nav {
  color: #252525;
}

#main-UI .main-pane nav .container .main-pane-topper {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-left h1 {
  color: royalblue;
  font-size: x-large;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right i {
  font-size: large;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right .fa-envelope {
  color: royalblue;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right .fa-sign-out {
  color: #ff1f62;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right button {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .side-bar-close {
    display: none;
  }
  #main-UI .sidebar-pane {
    display: block;
  }
  #main-UI .main-pane {
    margin-left: 250px;
  }
  #main-UI .main-pane nav {
    color: #252525;
  }
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
  #main-UI .sidebar-pane {
    width: 80px;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo {
    padding: 0;
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    margin-left: 10px;
    padding-left: 10px;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-profile-container {
    width: 70px;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-name h4, #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-name p {
    display: none;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .list-title {
    display: none;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link {
    margin: 0;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link a span {
    display: none;
  }
  #main-UI .main-pane {
    margin-left: 80px;
  }
  #main-UI .main-pane nav {
    color: #252525;
  }
}

select {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border: 1px royalblue solid;
}

select option {
  border: 1px royalblue solid;
}

#grade-management {
  margin: 30px 0;
}

#grade-management .container .wrapper #student-selector {
  background: #FFFFFF;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#grade-management .container .wrapper #student-selector::-webkit-scrollbar {
  display: none;
}

#grade-management .container .wrapper #student-selector .title {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 20px);
  background-color: #FFFFFF;
}

#grade-management .container .wrapper #student-selector .title h1 {
  color: royalblue;
}

#grade-management .container .wrapper #student-selector .student-list {
  margin: 10px 0;
}

#grade-management .container .wrapper #student-selector .student-list form button {
  width: 100%;
  text-align: left;
  padding: 10px;
  color: #FFFFFF;
  border: none;
}

#grade-management .container .wrapper #student-selector .student-list form button i {
  padding-right: 10px;
}

#grade-management .container .wrapper #student-selector .student-list form .no-student-to-show {
  color: #ff1f62;
  font-weight: bold;
}

#grade-management .container .wrapper #student-selector .student-list form .male {
  background-color: royalblue;
}

#grade-management .container .wrapper #student-selector .student-list form .female {
  background-color: #ff1f62;
}

#grade-management .container .wrapper #student-information {
  margin: 50px 0;
}

#grade-management .container .wrapper #student-information .wrapper .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

#grade-management .container .wrapper #student-information .wrapper .title h1 {
  font-size: large;
  color: royalblue;
}

#grade-management .container .wrapper #student-information .wrapper table {
  width: 100%;
}

#grade-management .container .wrapper #student-information .wrapper table tr th, #grade-management .container .wrapper #student-information .wrapper table tr td {
  width: calc(100% / 2);
  text-align: left;
  padding: 10px;
}

#grade-management .container .wrapper #student-information .wrapper table tr th {
  background-color: royalblue;
  color: #FFFFFF;
}

#grade-management .container .wrapper #student-information .wrapper table tr td {
  background-color: #FFFFFF;
}

#grade-management .container .wrapper #student-grade {
  width: 100%;
}

#grade-management .container .wrapper #student-grade .wrapper .title h1 {
  font-size: large;
  margin: 10px 0;
  color: royalblue;
}

#grade-management .container .wrapper #student-grade .wrapper .title form button, #grade-management .container .wrapper #student-grade .wrapper .title form .view-card-button {
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

#grade-management .container .wrapper #student-grade .wrapper .title form button[name="create-grade-field-prompt"], #grade-management .container .wrapper #student-grade .wrapper .title form .view-card-button[name="create-grade-field-prompt"] {
  background-color: #00a700;
}

#grade-management .container .wrapper #student-grade .wrapper .title form .view-card-button {
  background-color: royalblue;
  text-decoration: none;
}

#grade-management .container .wrapper #student-grade .wrapper table {
  margin: 20px 0;
  width: 100%;
  border-spacing: 0;
}

#grade-management .container .wrapper #student-grade .wrapper table .sem-title {
  text-align: center;
}

#grade-management .container .wrapper #student-grade .wrapper table tr th, #grade-management .container .wrapper #student-grade .wrapper table tr td {
  text-align: left;
  padding: 10px 0;
  font-size: x-small;
  text-align: center;
  border: 1px royalblue solid;
}

#grade-management .container .wrapper #student-grade .wrapper table tr .failed, #grade-management .container .wrapper #student-grade .wrapper table tr .passed, #grade-management .container .wrapper #student-grade .wrapper table tr .incomplete {
  font-weight: bold;
}

#grade-management .container .wrapper #student-grade .wrapper table tr .failed {
  color: #ff1f62;
}

#grade-management .container .wrapper #student-grade .wrapper table tr .passed {
  color: #00a700;
}

#grade-management .container .wrapper #student-grade .wrapper table tr .incomplete {
  color: gray;
}

#grade-management .container .wrapper #student-grade .wrapper table tr .subject-name {
  width: calc(50%);
}

#grade-management .container .wrapper #student-grade .wrapper table tr .small-data {
  width: calc(50% / 4);
}

#grade-management .container .wrapper #student-grade .wrapper table tr th {
  background-color: royalblue;
  color: #FFFFFF;
}

#grade-management .container .wrapper #student-grade .wrapper table tr td {
  background-color: #FFFFFF;
}

#grade-management .container .wrapper #student-grade .wrapper table tr td input[name="grade-period-1"],
#grade-management .container .wrapper #student-grade .wrapper table tr td input[name="grade-period-2"] {
  border: none;
  border-bottom: 1px royalblue solid;
}

#grade-management .container .wrapper #student-grade .wrapper table tr td button[name="edit-grade"] {
  background-color: transparent;
  border: none;
  color: #00a700;
  padding: 2px;
}

#grade-management .container .wrapper #student-grade .wrapper table tr td button[name="save-grade"] {
  background-color: transparent;
  border: none;
  color: royalblue;
  padding: 2px;
}

#profile-container-view {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px royalblue solid;
}

#profile-container-view img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #grade-management {
    margin: 30px 0;
  }
  #grade-management .container .wrapper #student-selector .student-list {
    margin: 10px 0;
  }
  #grade-management .container .wrapper #student-information .wrapper table {
    width: 100%;
  }
  #grade-management .container .wrapper #student-grade .wrapper table tr th, #grade-management .container .wrapper #student-grade .wrapper table tr td {
    font-size: large;
  }
  #grade-management .container .wrapper #student-grade .wrapper table tr td button {
    font-size: x-large;
  }
}
/*# sourceMappingURL=index.css.map */