@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  outline: none;
}

* ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

* ::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}

* ::-webkit-scrollbar-thumb {
  background: #007bff;
  border: 0px none #ffffff;
  border-radius: 22px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #128ffd;
}

* ::-webkit-scrollbar-thumb:active {
  background: #128ff1;
}

* ::-webkit-scrollbar-track {
  background: #dad4ff;
  border: 0px none #ffffff;
  border-radius: 6px;
}

* ::-webkit-scrollbar-track:hover {
  background: #cccbff;
}

* ::-webkit-scrollbar-track:active {
  background: #cccbff;
}

* ::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background-color: #F1F5F8;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  outline: none;
}

* ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

* ::-webkit-scrollbar-button {
  width: 3px;
  height: 3px;
}

* ::-webkit-scrollbar-thumb {
  background: #007bff;
  border: 0px none #ffffff;
  border-radius: 22px;
}

* ::-webkit-scrollbar-thumb:hover {
  background: #128ffd;
}

* ::-webkit-scrollbar-thumb:active {
  background: #128ff1;
}

* ::-webkit-scrollbar-track {
  background: #dad4ff;
  border: 0px none #ffffff;
  border-radius: 6px;
}

* ::-webkit-scrollbar-track:hover {
  background: #cccbff;
}

* ::-webkit-scrollbar-track:active {
  background: #cccbff;
}

* ::-webkit-scrollbar-corner {
  background: transparent;
}

body {
  background-color: #F1F5F8;
}

.show-side-bar {
  color: royalblue;
  background-color: transparent;
  border: 10px;
}

.side-bar-close {
  padding: 10px;
  float: left;
  margin-bottom: 50px;
}

#main-UI .sidebar-pane {
  display: none;
  z-index: 1;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #FFFFFF;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  -webkit-animation: sideBarAnimationOpen 1s;
          animation: sideBarAnimationOpen 1s;
}

#main-UI .sidebar-pane::-webkit-scrollbar {
  display: none;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper {
  padding: 30px 0 20px 0;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo {
  margin-left: 10px;
  background-color: #F1F5F8;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 0 10px 0;
  color: royalblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-profile-container {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-profile-container img {
  width: 100%;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-name {
  width: 70%;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-name h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists {
  margin-left: 10px;
  margin-top: 50px;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid {
  color: royalblue;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .list-title {
  margin-bottom: 20px;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .active-link {
  background-color: #F1F5F8;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link {
  margin: 10px 0 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link a {
  padding: 20px 0 20px 20px;
  display: block;
  text-decoration: none;
  color: #252525;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link a i {
  color: royalblue;
}

#main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link a span {
  padding-left: 10px;
}

@-webkit-keyframes sideBarAnimationOpening {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
  }
}

@keyframes sideBarAnimationOpening {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
  }
}

@-webkit-keyframes sideBarAnimationClosing {
  from {
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes sideBarAnimationClosing {
  from {
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

#main-UI .main-pane nav {
  color: #252525;
}

#main-UI .main-pane nav .container .main-pane-topper {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-left h1 {
  color: royalblue;
  font-size: x-large;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right i {
  font-size: large;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right .fa-envelope {
  color: royalblue;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right .fa-sign-out {
  color: #ff1f62;
}

#main-UI .main-pane nav .container .main-pane-topper .topper-right button {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .side-bar-close {
    display: none;
  }
  #main-UI .sidebar-pane {
    display: block;
  }
  #main-UI .main-pane {
    margin-left: 250px;
  }
  #main-UI .main-pane nav {
    color: #252525;
  }
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
  #main-UI .sidebar-pane {
    width: 80px;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo {
    padding: 0;
    border-radius: 0;
    margin: 0;
    background-color: transparent;
    margin-left: 10px;
    padding-left: 10px;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-profile-container {
    width: 70px;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-name h4, #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-userinfo .sidebar-pane-userinfo-name p {
    display: none;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .list-title {
    display: none;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link {
    margin: 0;
  }
  #main-UI .sidebar-pane .container-fluid .sidebar-pane-wrapper .sidebar-pane-lists .container-fluid .sidebar-link a span {
    display: none;
  }
  #main-UI .main-pane {
    margin-left: 80px;
  }
  #main-UI .main-pane nav {
    color: #252525;
  }
}

#search {
  margin-top: 30px;
}

#search .container .search-wrapper {
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  border-radius: 10px;
}

#search .container .search-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search .container .search-wrapper form input {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: transparent;
}

#search .container .search-wrapper form .search-button-container button {
  border: none;
  background-color: transparent;
}

#search .container .search-wrapper form .search-button-container button i {
  padding: 10px;
  background-color: #F1F5F8;
  border-radius: 50px;
  cursor: pointer;
}

#strand-main {
  margin: 50px auto;
}

#strand-main .container .wrapper .strand-chooser {
  height: 250px;
  width: 100%;
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  overflow-y: scroll;
  position: relative;
}

#strand-main .container .wrapper .strand-chooser .topper {
  width: 100%;
  background-color: yellow;
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#strand-main .container .wrapper .strand-chooser .topper form button {
  padding: 5px;
  border: 0;
  color: #FFFFFF;
}

#strand-main .container .wrapper .strand-chooser .topper form button[name="create-strand-prompt"] {
  background-color: #00a700;
}

#strand-main .container .wrapper .strand-chooser .topper form button[name="cancel"] {
  background-color: #ff1f62;
}

#strand-main .container .wrapper .strand-chooser .topper h1 {
  color: royalblue;
  padding: 10px;
}

#strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper {
  padding: 10px;
}

#strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper form {
  margin: 10px 0;
  width: 100%;
}

#strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper form button {
  width: 100%;
  border: 0;
  background-color: royalblue;
  color: #FFFFFF;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper form button:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper #strand-creator-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper #strand-creator-form input, #strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper #strand-creator-form select, #strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper #strand-creator-form button {
  padding: 10px;
  margin: 10px 0;
}

#strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper #strand-creator-form input, #strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper #strand-creator-form select {
  border: 0;
  border-bottom: 1px royalblue solid;
}

#strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper #strand-creator-form button {
  background-color: #00a700;
  text-align: center;
}

#strand-main .container .wrapper .strand-info {
  margin: 30px 0;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper {
  height: 250px;
  width: 100%;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .topper {
  margin-bottom: 10px;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .topper h1 {
  color: royalblue;
  font-size: x-large;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar .no-strand-info {
  color: #ff1f62;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar h1, #strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar p {
  color: royalblue;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar p {
  font-size: 16px;
  font-weight: bold;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar h1 {
  font-size: x-large;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar .desc {
  font-weight: lighter;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar .strand-controls {
  margin: 10px 0 0 0;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar .strand-controls button {
  padding: 10px;
  border: 0;
  color: #FFFFFF;
  border-radius: 5px;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar .strand-controls button[name="edit-strand"] {
  background-color: #00a700;
}

#strand-main .container .wrapper .strand-info .strand-info-wrapper .strand-info-bar .strand-controls button[name="flush"] {
  background-color: #FFFFFF;
  color: royalblue;
}

#subject-strands .container .wrapper .topper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

#subject-strands .container .wrapper .topper h1 {
  font-size: x-large;
  color: royalblue;
}

#subject-strands .container .wrapper .topper form button {
  padding: 10px;
  border: 0;
  color: #FFFFFF;
}

#subject-strands .container .wrapper .topper form button[name="create-strand-subject-list"] {
  background-color: #ff1f62;
}

#subject-strands .container .wrapper .topper form button[name="edit-subjects-list"] {
  background-color: royalblue;
}

#subject-strands .container .wrapper table {
  width: 100%;
}

#subject-strands .container .wrapper table tr th, #subject-strands .container .wrapper table tr td {
  padding: 10px;
  width: calc(100% / 3);
}

#subject-strands .container .wrapper table tr .not-enrolled {
  background-color: rgba(255, 31, 98, 0.5);
}

#subject-strands .container .wrapper table tr .enrolled {
  background-color: #FFFFFF;
  color: royalblue;
}

#subject-strands .container .wrapper table tr th {
  background-color: royalblue;
  color: #FFFFFF;
}

#subject-strands .container .wrapper table tr td {
  color: #FFFFFF;
}

#subject-strands .container .wrapper table tr td select {
  width: 100%;
  padding: 10px;
  background-color: #FFFFFF;
  color: #252525;
  border: 1px royalblue solid;
}

#subject-strands .container .wrapper table tr td select option {
  background-color: #FFFFFF;
  color: royalblue;
}

#subject-strands .container .wrapper table tr td select .current {
  background-color: rgba(65, 105, 225, 0.5);
  color: white;
}

#subject-strands .container .wrapper table tr td select .set-to-none {
  background-color: rgba(255, 31, 98, 0.5);
  color: white;
}

#subject-strands .container .wrapper table tr td h1 {
  color: #252525;
  margin-bottom: 10px;
}

#subject-strands .container .wrapper table tr td button {
  padding: 5px;
  width: 100%;
  color: #FFFFFF;
}

#subject-strands .container .wrapper table tr td button[name="change-subject"] {
  background-color: #00a700;
  border: 0;
  border-radius: 5px;
}

#subject-strands .container .wrapper button[name="save-subjects-list"] {
  background-color: #00a700;
  padding: 10px;
  color: #FFFFFF;
  border: 0;
  width: 100%;
  font-size: 20px;
  margin: 0 0 10px 0;
}

@media screen and (min-width: 768px) {
  #strand-main {
    margin: 50px auto;
  }
  #strand-main .container .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #strand-main .container .wrapper .strand-chooser {
    width: calc(100% / 2 - 1%);
  }
  #strand-main .container .wrapper .strand-chooser .strand-chooser-wrapper {
    padding: 10px;
  }
  #strand-main .container .wrapper .strand-info {
    width: calc(100% / 2 - 1%);
    margin: 0;
  }
}
/*# sourceMappingURL=index.css.map */